
<div class="discount-allocation flex row">
  {{ "discount.svg" | inline_asset_content }}
  <p class="small">{{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})</p>
</div>