
<div class="discount-allocation flex row middle">
  {% render 'icon', icon: 'discount', size: "14px" %}
  <p class="small">{{ discount_application.title }} (-{{ discount_application.total_allocated_amount | money }})</p>
</div>