
<div class="discount-allocation flex row middle">
  {{ "discount.svg" | inline_asset_content }}
  <p class="small">{{ discount_application.title }} (-{{ discount_application.total_allocated_amount | money }})</p>
</div>