{% assign size = size | default: "24px" %}
{% assign width = width | default: size %}
{% assign height = height | default: size %}
<div class="theme-icon" style="--size: {{ size }}; --width: {{ width }}; --height: {{ height }};">
  {{ icon | inline_asset_content }}
</div>