{% liquid 
  comment
    image -> image object
    aspect_ratio -> required aspect_ratio
    widths -> image widths
    loading -> lazy loading attribute
    sizes -> sizes attribute
    fit -> object-fit
    placeholder -> svg placeholder handle
  endcomment
  assign fit = fit | default: "cover"
  assign aspect_ratio = aspect_ratio
  if aspect_ratio == 'auto' 
    assign aspect_ratio = image.aspect_ratio | default: 1.0 | round: 7
  elsif aspect_ratio != blank
    if aspect_ratio contains '/'
      assign numerator = aspect_ratio | split: '/' | first | times: 1.0
      assign denominator = aspect_ratio | split: '/' | last | times: 1.0
      assign aspect_ratio = numerator | divided_by: denominator | round: 7
    else
      if aspect_ratio < 0.000001
        assign aspect_ratio = image.aspect_ratio | default: 1.0 | round: 7
      else
        assign aspect_ratio = aspect_ratio | times: 1.0 | round: 7
      endif
    endif
  else 
    assign aspect_ratio = image.aspect_ratio | default: 1.0 | round: 7
  endif
%}
<div class="image-wrapper {{ fit }}" style="--aspect-ratio: {{ aspect_ratio }};" data-nan="{{ '%' | times: 1.0 }}">
  {% liquid
    assign placeholder = placeholder | default: "image"
    if image != blank
      if image.src contains ".svg"
        assign style = "object-fit: " | append: fit | append: ";"
        echo image | image_url: width: image.width, height: image.height | image_tag: style: style
      else
        assign widths = widths | default: "300, 400, 500, 650, 900, 1100, 1300, 1600"
        assign loading = loading | default: "lazy"
        assign sizes = sizes | default: "100vw"
        if aspect_ratio != image.aspect_ratio and fit == "cover" 
          assign aspect_ratio = aspect_ratio | times: 1.0
          assign crop_left = 0
          assign crop_top = 0
          assign crop_width = image.width
          assign crop_height = image.height
          if aspect_ratio > image.aspect_ratio
            assign crop_height = image.width | divided_by: aspect_ratio
            assign focus_vertical_shift = image.presentation.focal_point.y | default: 50.0 | minus: 50.0 | divided_by: 100.0 | times: image.height | round
            assign margin_block = image.height | minus: crop_height
            assign crop_top = margin_block | divided_by: 2.0 | round | plus: focus_vertical_shift | at_least: 0.0 | at_most: margin_block
          else
            assign crop_width = image.height | times: aspect_ratio
            assign focus_horizontal_shift = image.presentation.focal_point.x | default: 50.0 | minus: 50.0 | divided_by: 100.0 | times: image.width | round
            assign margin_inline = image.width | minus: crop_width
            assign crop_left = margin_inline | divided_by: 2.0 | round | plus: focus_horizontal_shift | at_least: 0.0 | at_most: margin_inline
          endif
          echo image | image_url: width: crop_width, crop: "region", crop_width: crop_width, crop_height: crop_height, crop_left: crop_left, crop_top: crop_top | image_tag: widths: widths, loading: loading, sizes: sizes, style: "object-position: 50% 50%; object-fit: cover;"
        else
          assign style = "object-fit: " | append: fit | append: "; object-position: {{ image.presentation.focal_point }}"
          echo image | image_url: width: image.width | image_tag: widths: widths, loading: loading, sizes: sizes, style: style
        endif
      endif
    else
      echo placeholder | placeholder_svg_tag
    endif
  %}
</div>