<div class="spacing-bottom-{{ block.settings.spacing_bottom }}">
  <button class="{{ block.settings.button_style }}" type="submit">
    {{ block.settings.label }}
  </button>
</div>

{% comment %} Todo: Only inside forms {% endcomment %}
{% comment %} Todo: custom actions for type button? {% endcomment %}
{% schema %}
{
  "name": "Submit button",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Button label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style",
      "options": [
        {
          "value": "btn btn--primary",
          "label": "Primary"
        },
        {
          "value": "btn btn--secondary",
          "label": "Secondary"
        },
        {
          "value": "btn btn--tertiary",
          "label": "Tertiary"
        }
      ],
      "default": "btn btn--primary"
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "Spacing bottom",
      "options": [
        { "value": "none", "label": "none" },
        { "value": "2xs", "label": "2xs" },
        { "value": "xs", "label": "xs" },
        { "value": "s", "label": "s" },
        { "value": "m", "label": "m" },
        { "value": "l", "label": "l" },
        { "value": "xl", "label": "xl" },
        { "value": "2xl", "label": "2xl" },
        { "value": "3xl", "label": "3xl" }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "Submit button"
    }
  ]
}
{% endschema %}
