<collapsible-outer 
  {% if block.settings.open %}
    open="true"
  {% endif %}
  class="spacing-bottom-{{ block.settings.spacing_bottom }}"
  {{ block.shopify_attributes }}>
  <collapsible-label class="full-width flex row space-between">
    {% comment %} Todo: Add collapsible icons {% endcomment %}
    {% content_for "block", type: "heading", id: "collapsible-label" %}
    <div class="collapsible-icon">
      <div class="collapsible-icon--open">{{ "plus.svg" | inline_asset_content }}</div>
      <div class="collapsible-icon--close">{{ "minu.svg" | inline_asset_content }}</div>
    </div>
  </collapsible-label>
  <collapsible-content class="">
    {% content_for "blocks" %}
  </collapsible-content>
</collapsible-outer>

{% schema %}
{
  "name": "Collapsible",
  "tag": null,
  "blocks": [{ "type": "@theme" },{ "type": "@app" }],
  "settings": [
    {
      "type": "checkbox",
      "id": "open",
      "label": "Open",
      "default": false
    },
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "Spacing bottom",
      "options": [
        { "value": "none", "label": "none" },
        { "value": "2xs", "label": "2xs" },
        { "value": "xs", "label": "xs" },
        { "value": "s", "label": "s" },
        { "value": "m", "label": "m" },
        { "value": "l", "label": "l" },
        { "value": "xl", "label": "xl" },
        { "value": "2xl", "label": "2xl" },
        { "value": "3xl", "label": "3xl" }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "Collapsible"
    }
  ]
}
{% endschema %}
