{% comment %} [START nesting.block_render] {% endcomment %}
<div
  class="{{ block.settings | class_list }} group-block group-block--{{ block.id }} color-{{ block.settings.color_scheme }}"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>
{% comment %} [END nesting.block_render] {% endcomment %}

{% comment %} [START nesting.block_schema] {% endcomment %}
{% schema %}
{
  "name": "Group",
  "tag": null,
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "100%",
        "flex-grow": "1"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "20px"
      }
    },
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row",
        "flex-wrap": "nowrap",
        "gap": "20px",
        "justify-content": "center",
        "align-items": "center",

        "@media (--mobile)": {
          "flex-wrap": "wrap"
        }
      }
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Group"
    },
    {
      "name": "Column",
      "settings": {
        "color_scheme": "scheme-3",
        "layout": {
          "flex-direction": "column",
          "align-items": "flex-start"
        },
        "spacing": {
          "padding": "20px"
        }
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h3>Column</h3>"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.<\/p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
{% comment %} [END nesting.block_schema] {% endcomment %}
