<div class="group {{ block.settings | class_list }}">
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Group",
  "tag": null,
  "blocks": [{ "type": "@theme" }],
  "settings": [
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row"
      }
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "100%",
        "height": "auto"
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "20px",
        "@media (--mobile)": {
          "padding": "10px"
        }
      }
    }
  ],
  "presets": [{ "name": "Group" }]
}
{% endschema %}
