<h2 {{ block.shopify_attributes }}>
  {{ block.settings.heading }}
</h2>

{% schema %}
{
  "name": "Heading",
  "tag": null,
  "class": "heading-block",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    }
  ],
  "presets": [{ "name": "Heading" }]
}
{% endschema %}
