{% assign loading = 'lazy' %}
{% if section.index < 2 %}
  {% assign loading = 'eager' %}
{% endif %}

<div
  class="{{ block.settings | class_list }} image-wrapper {{ block.settings.object_fit }}"
  {{ block.shopify_attributes }}
>
    {% render 'image-element', 
      image: block.settings.image, 
      fit: block.settings.object_fit,
      aspect_ratio: 'auto',
      loading: loading,
      sizes: '100vw'
    %}
</div>

{% schema %}
{
  "name": "Image",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "object_fit",
      "label": "Image containment",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    }
  ],
  "presets": [{ "name": "Image" }]
}
{% endschema %}
