{%- if block.settings.image -%}
  {{ block.settings.image | image_url: width: 1200 | image_tag }}
{%- else -%}
  <div class="placeholder-image">
    {{ 'detailed-apparel-1' | placeholder_svg_tag: 'image-placeholder-svg' }}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Image",
  "class": "image-block",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {"name": "Image"}
  ]
}
{% endschema %}
