{% assign loading = 'lazy' %}
{% if section.index < 2 %}
  {% assign loading = 'eager' %}
{% endif %}

{% assign aspect_ratio = 'auto' %}
{% if block.settings.aspect_ratio_type == "custom" %}
  {% assign aspect_ratio = block.settings.aspect_ratio %}
{% endif %}

<div
  class="shopify-block-image {{ block.settings | class_list }}"
  {{ block.shopify_attributes }}
>
  <div class="image-wrapper {{ block.settings.object_fit }}"
  style="--aspect-ratio: {{aspect_ratio}};">
    {% render 'image-element', 
      image: block.settings.image, 
      fit: block.settings.object_fit,
      aspect_ratio: aspect_ratio,
      loading: loading,
      sizes: '100vw',
      placeholder: "lifestyle-1"
    %}
  </div>
</div>

{% schema %}
{
  "name": "Image",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "object_fit",
      "label": "Image containment",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "style.size_panel",
      "id": "size",
      "label": "Size",
      "default": {
        "width": "auto",
      }
    },
    {
      "type": "select",
      "id": "aspect_ratio_type",
      "label": "Aspect Ratio",
      "options": [
        {
          "value": "auto",
          "label": "Auto"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "auto"
    },
    {
      "type": "number",
      "id": "aspect_ratio",
      "label": "Custom aspect ratio",
      "default": 1
    }
  ],
  "presets": [{ "name": "Image" }]
}
{% endschema %}
