<div
  class="{{ block.settings | class_list }} image-wrapper {{ block.settings.object_fit }}"
  {{ block.shopify_attributes }}
>
    {% render 'image-element' %}
</div>

{% schema %}
{
  "name": "Image",
  "tag": null,
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "object_fit",
      "label": "Image containment",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        }
      ],
      "default": "cover"
    }
  ],
  "presets": [{ "name": "Image" }]
}
{% endschema %}
