<div class="shopify-block-{{block.type}} spacing-bottom-{{ block.settings.spacing_bottom }} flex col">
  {% if cart.empty? %}
    {% content_for "block", type: "container", id: "cart-empty" %}
  {% else %}
    {% for line_item in cart.items %}
      {% render 'line-item', line_item: line_item %}
    {% endfor %}
    
  {% endif %}
</div>

{% schema %}
{
  "name": "Line Items",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "spacing_bottom",
      "label": "Spacing bottom",
      "options": [
        { "value": "none", "label": "none" },
        { "value": "2xs", "label": "2xs" },
        { "value": "xs", "label": "xs" },
        { "value": "s", "label": "s" },
        { "value": "m", "label": "m" },
        { "value": "l", "label": "l" },
        { "value": "xl", "label": "xl" },
        { "value": "2xl", "label": "2xl" },
        { "value": "3xl", "label": "3xl" }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "Line items"
    }
  ]
}
{% endschema %}
