<a
  href="{{ block.settings.link }}"
  {{ block.shopify_attributes }}
>
  {{ block.settings.label }}
</a>

{% schema %}
{
  "name": "Link",
  "tag": null,
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Button label"
    }
  ],
  "presets": [
    {
      "name": "Link",
      "settings": {
        "label": "Link label"
      }
    }
  ]
}
{% endschema %}
