<a
  href="{{ block.settings.link }}"
  class="shopify-block-link {{ block.settings.button_style }}"
  {%- if block.settings.open_in_new_tab -%}
    target="_blank" rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}>
  <span>
    {{ block.settings.label }}
  </span>
</a>

{% schema %}
{
  "name": "Link",
  "tag": null,
  "settings": [
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Button label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style",
      "options": [
        {
          "value": "btn btn--primary",
          "label": "Primary"
        },
        {
          "value": "btn btn--secondary",
          "label": "Secondary"
        },
        {
          "value": "btn btn--tertiary",
          "label": "Tertiary"
        },
        {
          "value": "link",
          "label": "Link"
        }
      ],
      "default": "btn btn--primary"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "Open this link in a new window",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Button (link)",
      "settings": {
        "label": "Link label",
        "button_style": "link"
      }
    },
    {
      "name": "Button (primary)",
      "settings": {
        "label": "Primary button label",
        "button_style": "btn btn--primary"
      }
    },
    {
      "name": "Button (secondary)",
      "settings": {
        "label": "Secondary button label",
        "button_style": "btn btn--secondary"
      }
    },
    {
      "name": "Button (tertiary)",
      "settings": {
        "label": "Tertiary button label",
        "button_style": "btn btn--tertiary"
      }
    }
  ]
}
{% endschema %}
