<option value="{{ block.settings.value }}">{{ block.settings.name }}</option>

{% schema %}
{
"name": "Option",
"tag": null,
"blocks": [],
"settings": [
  {
    "type": "liquid",
    "id": "name",
    "label": "Name",
    "default": "Option"
  },
  {
    "type": "text",
    "id": "value",
    "label": "Value",
    "default": "value"
  }
],
"presets": [
  {
    "name": "Option"
  }
]
}
{% endschema %}
