<div>
{{ block.settings.product.title }}
</div>
{% schema %}
{
  "name": "Test",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
  ]
}
{% endschema %}
