{% if block.settings.control_style != "" %}
  <div class="embla-controls {{ block.settings.control_style }}">
    <embla-prev
      class=""
      aria-label="Previous slide"
    >
      {% render 'icons', icon: 'chevron-right' %}
    </embla-prev>
    <embla-next
      class="slideshow-control slideshow-control--next button-secondary"
      aria-label="Next slide"
    >
      {% render 'icons', icon: 'chevron-right' %}
    </embla-next>
  </div>
{% endif %}


{% comment %} 
{
  "type": "select",
  "id": "pagination_style",
  "options": [
    {
      "value": "dots",
      "label": "Dots"
    },
    {
      "value": "counter",
      "label": "Counter"
    },
    {
      "value": "numbers",
      "label": "Numbers"
    }
  ],
  "label": "Pagination style",
  "default": "counter"
} {% endcomment %}

{% schema %}
{
  "name": "Slideshow controls",
  "settings": [
    {
      "type": "select",
      "id": "control_style",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "embla-simple",
          "label": "Simple"
        }
        
      ],
      "label": "Control style",
      "default": "none"
    }
  ]
}
{% endschema %}
