{%- liquid
  assign block_index = 0
  for section_blocks in section.blocks
    assign block_index = block_index | plus: 1
    if block.id == section_blocks.id
      break
    endif
  endfor
-%}
{% comment %} aria-hidden="{% if block_index == 1 %}false{% else %}true{% endif %}" {% endcomment %}
<embla-slide
  id="slide-{{ block.id }}"
  index="{{ block_index }}"
  class="slideshow__slide"
  {{ block.shopify_attributes }}
>
  <div class="{{ block.settings | class_list }} slide__content">
    {% content_for "blocks" %}
  </div>
</embla-slide>

{% schema %}
{
  "name": "Slide",
  "tag": null,
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    
  ],
  "presets": [
    {
      "name": "Slide",
      "blocks": [
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "justify-content": "start"
            },
            "spacing": {
              "padding": "50px"
            },
            "size": {
              "width": "50%",
              "flex-grow": "0",

              "@media (--mobile)": {
                "width": "90%"
              }
            }
          },
          "blocks": [
            {
              "type": "heading",
              "settings": {
                "heading": "Image slide",
                "heading_size": "h1"
              }
            },
            {
              "type": "text",
              "settings": {
                "text": "<p>Tell your brand's story through images</p>"
              }
            },
            {
              "type": "link",
              "settings": {
                "label": "Button label",
                "spacing": {
                  "padding": "10px 30px"
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
