<div class="{{ section.settings | class_list }} color-{{ section.settings.color_scheme }}">
  {% content_for "blocks" %}
</div>

{% if section.blocks.size > 3 %}
  {% content_for "block", type: "group", id: "conditional-group" %}
{% endif %}

{% schema %}
{
  "name": "Custom section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "style.layout_panel",
      "id": "layout",
      "label": "Layout",
      "default": {
        "flex-direction": "row",
        "gap": "20px",
        "justify-content": "center",
        "align-items": "center",

        "@media (--mobile)": {
          "flex-wrap": "wrap",
          "gap": "10px"
        }
      }
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "20px",

        "@media (--mobile)": {
          "padding": "10px"
        }
      }
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Custom section"
    },
    {
      "name": "Image with text (custom section)",
      "blocks": [
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column"
            },
            "size": {
              "width": "50%"
            }
          },
          "blocks": [{ "type": "image" }]
        },
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "align-items": "center",
              "justify-content": "center"
            },
            "size": {
              "width": "50%"
            }
          },
          "blocks": [{ "type": "heading" }, { "type": "link" }]
        }
      ]
    },
    {
      "name": "Multicolumn (custom section)",
      "blocks": [
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "align-items": "center",
              "gap": "10px"
            },
            "size": {
              "@media (--mobile)": {
                "width": "45%",
                "flex-grow": 1
              }
            }
          },
          "blocks": [{ "type": "image" }, { "type": "heading" }, { "type": "text" }, { "type": "link" }]
        },
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "align-items": "center",
              "gap": "10px"
            },
            "size": {
              "@media (--mobile)": {
                "width": "45%",
                "flex-grow": 1
              }
            }
          },
          "blocks": [{ "type": "image" }, { "type": "heading" }, { "type": "text" }, { "type": "link" }]
        },
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "column",
              "align-items": "center",
              "gap": "10px"
            },
            "size": {
              "@media (--mobile)": {
                "width": "45%",
                "flex-grow": 1
              }
            }
          },
          "blocks": [{ "type": "image" }, { "type": "heading" }, { "type": "text" }, { "type": "link" }]
        },
        {
          "type": "group",
          "settings": {
            "layout": {
              "align-items": "center",
              "justify-content": "center"
            },
            "size": {
              "width": "100%"
            }
          },
          "blocks": [
            {
              "type": "link",
              "settings": {
                "label": "Conditional button"
              }
            }
          ],
          "static": true,
          "id": "conditional-group"
        }
      ]
    }
  ]
}
{% endschema %}
