<div class="container">
  {% content_for "blocks" %}
</div>

{% schema %}
{
  "name": "Image with text (theme)",
  "settings": [],
  "blocks": [{ "type": "@theme" }],
  "presets": [
    {
      "name": "Image with text (theme)",
      "blocks": [
        {
          "type": "group",
          "settings": {
            "layout": {
              "flex-direction": "row"
            }
          },
          "blocks": [
            {
              "type": "group",
              "settings": {
                "layout": {
                  "flex-direction": "column"
                },
                "size": {
                  "width": "50%"
                }
              },
              "blocks": [{ "type": "image" }]
            },
            {
              "type": "group",
              "settings": {
                "layout": {
                  "flex-direction": "column",
                  "align-items": "center",
                  "justify-content": "center"
                },
                "size": {
                  "width": "50%"
                }
              },
              "blocks": [{ "type": "heading" }, { "type": "link" }]
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
