{% stylesheet %}
  .pagination-wrapper {
    margin-top: 4rem;
  }

  @media screen and (min-width: 990px) {
    .pagination-wrapper {
      margin-top: 5rem;
    }
  }

  .pagination__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination__list > li {
    flex: 1 0 4.4rem;
    max-width: 4.4rem;
  }

  .pagination__item {
    color: rgb(var(--color-foreground));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 4.4rem;
    width: 100%;
    padding: 0;
    text-decoration: none;
  }

  .pagination__item.link:hover {
    text-decoration: none;
  }

  a.pagination__item:hover::after {
    height: 0.1rem;
  }

  .pagination__item .icon-caret {
    height: 0.6rem;
  }

  .pagination__item--current::after {
    height: 0.1rem;
  }

  .pagination__item--current::after,
  .pagination__item:hover::after {
    content: '';
    display: block;
    width: 2rem;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    background-color: currentColor;
  }

  .pagination__item--next .icon {
    transform: rotate(-90deg);
  }

  .pagination__item--next:hover .icon {
    transform: rotate(-90deg) scale(1.07);
  }

  .pagination__item--prev .icon {
    transform: rotate(90deg);
  }

  .pagination__item--prev:hover .icon {
    transform: rotate(90deg) scale(1.07);
  }

  .filters-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    gap: 20px;
  }
{% endstylesheet %}

<div
  class="full-width {{ section.settings | class_list }} color-{{ section.settings.color_scheme }}"
>
  {% if collection.products_count > 0 %}
    <div class="filters-wrapper">
      <span class="products-count">{{ collection.products_count }} products</span>
    </div>
  {% endif %}
  {% if collection.products.size > 0 %}
    {% paginate collection.products by section.settings.num_products_per_page %}
      <ul class="product-grid product-grid--{{ section.id }}">
        {% for product in collection.products %}
          <li>
            {% content_for "block", type: "product-card", id: "collection-product-card", closest.product: product %}
          </li>
        {% endfor %}
      </ul>
      {% render 'pagination', paginate: paginate %}
    {% endpaginate %}
  {% else %}
    <p>No products found.</p>
  {% endif %}
  {% content_for 'blocks' %}
</div>
{% schema %}
{
  "name": "Main collection",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "range",
      "id": "num_products_per_page",
      "label": "Number of products per page",
      "min": 3,
      "max": 24,
      "step": 3,
      "default": 9
    },
    {
      "type": "style.spacing_panel",
      "id": "spacing",
      "label": "Spacing",
      "default": {
        "padding": "20px"
      }
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
