{% stylesheet %}
  /* Slideshow */
  slideshow-component {
    display: block;
    width: 100%;
  }

  /* Slides container */
  .slideshow__slides {
    display: grid;
    overflow: hidden;
    width: 100%;
    grid-template-areas: 'slide';
  }

  .slideshow--small .slideshow__slides {
    min-height: 28rem;
  }

  .slideshow--medium .slideshow__slides {
    min-height: 34rem;
  }

  .slideshow--large .slideshow__slides {
    min-height: 39rem;
  }

  @media screen and (min-width: 750px) {
    .slideshow--small .slideshow__slides {
      min-height: 42rem;
    }

    .slideshow--medium .slideshow__slides {
      min-height: 56rem;
    }

    .slideshow--large .slideshow__slides {
      min-height: 72rem;
    }
  }

  /* Individual slides */
  .slideshow__slide {
    display: flex;
    position: relative;
    grid-area: slide;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  slideshow-component .slideshow__slide {
    height: 100%;
  }

  .slideshow__slide[aria-hidden='true'] {
    order: 0;
  }

  :is(.slideshow__slide.slide--next, .slideshow__slide.slide--previous) {
    order: 1;
    z-index: 1;
  }

  .slideshow__slide[aria-hidden='false'] {
    order: 2;
    z-index: 2;
  }

  .slide--transition-out-next,
  .slide--transition-out-previous,
  .slide--next,
  .slide--previous {
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .slide--next,
  .slide--previous {
    animation-fill-mode: forwards;
  }

  .slide--transition-out-next {
    animation-name: slideOutRight;
  }

  .slide--transition-out-previous {
    animation-name: slideOutLeft;
  }

  .slideshow__slide.slide--next {
    animation-name: slideInLeft;
  }

  .slideshow__slide.slide--previous {
    animation-name: slideInRight;
  }

  /* Slide content */
  .slide__content {
    display: flex;
    position: relative;
    padding: 3.2rem;
    width: 100%;
    height: 100%;
  }

  .slide__content > * {
    margin: auto;
    max-height: 100%;
  }

  .slideshow__slide > .slide__image-container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
  }

  .slide__image-container svg {
    width: 100%;
  }

  .slide__image-container img {
    object-fit: cover;
  }

  /* Slideshow controls */
  .slideshow__controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-slide-indicator {
    display: flex;
    justify-content: center;
    min-width: 4.4rem;
    transition: transform 0.2s ease-in-out;
  }

  .slideshow-controls__dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.1rem solid black;
    padding: 0;
    display: block;
    background-color: transparent;
  }

  :where(.slideshow-controls__link--active) .slideshow-controls__dot {
    background-color: rgba(var(--color-foreground), 1);
  }

  .slideshow__controls .button-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: none;
    min-height: 4.4rem;
    min-width: 4.4rem;
    color: rgb(var(--color-foreground));
  }

  .slideshow-control .icon {
    display: block;
    position: absolute;
    opacity: 1;
    transform: scale(1);
    transition: transform 150ms ease, opacity 150ms ease;
    width: 1.8rem;
    height: 1.2rem;
  }

  .slideshow-controls__link {
    cursor: pointer;
    display: inline-block;
    border: none;
    color: rgba(var(--color-foreground), 0.5);
    box-shadow: none;
    background-color: transparent;
    font-size: 1.4rem;
    font-family: inherit;
    padding: 1.28rem;
  }

  :where(.slideshow-controls__link--active).slideshow-controls__link {
    color: rgba(var(--color-foreground), 1);
  }

  /* Autoplay */
  .slideshow-control--autoplay {
    position: absolute;
    right: 0;
  }

  @media screen and (min-width: 750px) {
    .slideshow-control--autoplay {
      position: inherit;
    }
  }

  .slideshow-control--autoplay--paused .icon-pause,
  .slideshow-control--autoplay:not(.slideshow-control--autoplay--paused) .icon-play {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
  }

  /* Animation declarations */
  @keyframes slideInLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOutRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
{% endstylesheet %}

{% javascript %}
  // Slideshow component
  class SlideshowComponent extends HTMLElement {
    constructor() {
      super();
      this.slides = this.querySelectorAll('.slideshow__slide');
      if (this.slides.length <= 1) return;

      this.currentSlideIndicator = this.querySelector('.current-slide-indicator');
      this.currentSlideIndex = this.dataset.activeSlide;
      this.counterControls = this.querySelectorAll('.slideshow-controls__link');

      this.nextControl = this.querySelector('.slideshow-control--next');
      this.previousControl = this.querySelector('.slideshow-control--previous');

      if (this.getAttribute('data-autoplay') === 'true') {
        this.autoplaySpeed = parseInt(this.dataset.autoplaySpeed) * 1000;
        this.isAutoplayButtonSetToPlay = true;
        this.setAutoPlay();
      }

      this.initButtons();
    }

    initButtons() {
      this.nextControl.addEventListener('click', () => {
        this.updateSlideshow('next');
        this.resetAutoPlay();
      });

      this.previousControl.addEventListener('click', () => {
        this.updateSlideshow('previous');
        this.resetAutoPlay();
      });

      this.counterControls.forEach((control) => {
        control.addEventListener('click', () => {
          if (this.currentSlideIndex == control.dataset.slideNumber) return;
          this.updateSlideshow(control.dataset.slideNumber);
          this.resetAutoPlay();
        });
      });
    }

    updateSlideshow(target = 'next') {
      let nextSlideIndex = 0;
      let transitionDirection = target;

      switch (target) {
        case 'next':
          nextSlideIndex = parseInt(this.dataset.activeSlide) + 1;
          break;
        case 'previous':
          nextSlideIndex = parseInt(this.dataset.activeSlide) - 1;
          break;
        default:
          nextSlideIndex = target;
          transitionDirection = nextSlideIndex > this.dataset.activeSlide ? 'next' : 'previous';
          break;
      }

      if (nextSlideIndex < 0) {
        nextSlideIndex = this.slides.length - 1;
      } else if (nextSlideIndex >= this.slides.length) {
        nextSlideIndex = 0;
      }

      this.slideTransition(this.slides[this.dataset.activeSlide], this.slides[nextSlideIndex], transitionDirection);
      this.updateControls(nextSlideIndex);
      this.dataset.activeSlide = nextSlideIndex;
      this.currentSlideIndex = nextSlideIndex;
    }

    slideTransition(currentSlide, nextSlide, transitionDirection) {
      const slideshowControls = this.querySelectorAll('.slideshow-control');
      slideshowControls.forEach((control) => {
        control.setAttribute('disabled', 'true');
      });

      currentSlide.addEventListener('animationend', (event) => {
        if (event.animationName.includes('slideIn')) return;

        // Hide slides & reset transitions
        this.slides.forEach((slide) => {
          slide.setAttribute('aria-hidden', 'true');
          slide.classList.remove(`slide--transition-out-${transitionDirection}`);
        });

        // Set new slide to active
        nextSlide.setAttribute('aria-hidden', 'false');
        nextSlide.classList.remove(`slide--${transitionDirection}`);
        slideshowControls.forEach((control) => {
          control.removeAttribute('disabled');
        });
      });

      // Start slide transition
      currentSlide.classList.add(`slide--transition-out-${transitionDirection}`);
      nextSlide.classList.add(`slide--${transitionDirection}`);
    }

    updateControls(newSlideIndex) {
      // If we have a current slide indicator (i.e. 2/3), update it
      if (this.currentSlideIndicator) {
        this.currentSlideIndicator.innerText = `${newSlideIndex + 1}/${this.slides.length}`;
        return;
      }

      this.counterControls.forEach((control) => {
        control.classList.remove('slideshow-controls__link--active');
      });
      this.counterControls[newSlideIndex].classList.add('slideshow-controls__link--active');
    }

    resetAutoPlay() {
      if (this.isAutoplayButtonSetToPlay) {
        this.play();
      }
    }

    /* Handle autoplay */
    setAutoPlay() {
      this.addEventListener('mouseover', this.focusInHandling.bind(this));
      this.addEventListener('mouseleave', this.focusOutHandling.bind(this));
      this.addEventListener('focusin', this.focusInHandling.bind(this));
      this.addEventListener('focusout', this.focusOutHandling.bind(this));

      this.sliderAutoplayButton = this.querySelector('.slideshow-control--autoplay');
      this.sliderAutoplayButton.addEventListener('click', this.autoPlayToggle.bind(this));
      this.isAutoplayButtonSetToPlay = true;
      this.play();
    }

    autoPlayToggle() {
      this.togglePlayButtonState(this.isAutoplayButtonSetToPlay);
      this.isAutoplayButtonSetToPlay ? this.pause() : this.play();
      this.isAutoplayButtonSetToPlay = !this.isAutoplayButtonSetToPlay;
    }

    togglePlayButtonState(pauseAutoplay) {
      this.sliderAutoplayButton.classList.toggle('slideshow-control--autoplay--paused', pauseAutoplay);
      pauseAutoplay
        ? this.sliderAutoplayButton.setAttribute('aria-label', 'Play slideshow')
        : this.sliderAutoplayButton.setAttribute('aria-label', 'Pause slideshow');
    }

    play() {
      this.setAttribute('aria-live', 'off');
      clearInterval(this.autoplay);
      this.autoplay = setInterval(this.autoRotateSlides.bind(this), this.autoplaySpeed);
    }

    pause() {
      this.setAttribute('aria-live', 'polite');
      clearInterval(this.autoplay);
    }

    autoRotateSlides() {
      this.updateSlideshow('next');
    }

    focusOutHandling(event) {
      const focusedOnAutoplayButton =
        event.target === this.sliderAutoplayButton || this.sliderAutoplayButton.contains(event.target);

      if (this.isAutoplayButtonSetToPlay && !focusedOnAutoplayButton) this.play();
    }

    focusInHandling(event) {
      const focusedOnAutoplayButton =
        event.target === this.sliderAutoplayButton || this.sliderAutoplayButton.contains(event.target);

      if (this.isAutoplayButtonSetToPlay) {
        focusedOnAutoplayButton ? this.play() : this.pause();
      }
    }
  }

  customElements.define('slideshow-component', SlideshowComponent);
{% endjavascript %}

<slideshow-component
  id="slideshow-{{ section.id }}"
  class="slideshow slideshow--{{ section.settings.slide_height }}"
  data-active-slide="0"
  data-autoplay="{{ section.settings.autoplay }}"
  {% if section.settings.autoplay %}
    aria-live="polite"
    data-autoplay-speed="{{ section.settings.autoplay_speed }}"
  {% endif %}
>
  <div class="slideshow__slides">
    {% content_for 'blocks' %}
  </div>

  {% if section.blocks.size > 1 %}
    {% content_for 'block', type: 'slideshow-controls', id: 'slideshow-controls' %}
  {% endif %}
</slideshow-component>

{% schema %}
{
  "name": "Slideshow",
  "class": "section--has-background",
  "blocks": [{ "type": "_slide" }],
  "settings": [
    {
      "type": "header",
      "content": "Slideshow height"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "Adapt to first image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Slide height"
    },
    {
      "type": "header",
      "content": "Slideshow style"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Autoplay speed",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 5
    }
  ],
  "presets": [
    {
      "name": "Slideshow",
      "blocks": [
        {
          "type": "_slide",
          "blocks": [
            {
              "type": "group",
              "settings": {
                "layout": {
                  "flex-direction": "column",
                  "justify-content": "flex-start"
                },
                "size": {
                  "width": "50%",
                  "flex-grow": "0",

                  "@media (--mobile)": {
                    "width": "100%"
                  }
                },
                "spacing": {
                  "padding": "50px",

                  "@media (--mobile)": {
                    "padding": "20px"
                  }
                }
              },
              "blocks": [
                {
                  "type": "text",
                  "settings": {
                    "text": "<h1>Image slide</h1>"
                  }
                },
                {
                  "type": "text",
                  "settings": {
                    "text": "<p>Tell your brand's story through images</p>"
                  }
                },
                {
                  "type": "link",
                  "settings": {
                    "label": "Button label",
                    "spacing": {
                      "padding": "10px 30px"
                    }
                  }
                }
              ]
            }
          ]
        },
        {
          "type": "_slide",
          "blocks": [
            {
              "type": "group",
              "settings": {
                "layout": {
                  "flex-direction": "column",
                  "justify-content": "flex-start"
                },
                "size": {
                  "width": "50%",
                  "flex-grow": "0",

                  "@media (--mobile)": {
                    "width": "100%"
                  }
                },
                "spacing": {
                  "padding": "50px",

                  "@media (--mobile)": {
                    "padding": "20px"
                  }
                }
              },
              "blocks": [
                {
                  "type": "text",
                  "settings": {
                    "text": "<h1>Image slide</h1>"
                  }
                },
                {
                  "type": "text",
                  "settings": {
                    "text": "<p>Tell your brand's story through images</p>"
                  }
                },
                {
                  "type": "link",
                  "settings": {
                    "label": "Button label",
                    "spacing": {
                      "padding": "10px 30px"
                    }
                  }
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
