
collapsible-outer,
collapsible-content,
collapsible-label {
  display: block;
}
collapsible-label {
  cursor: pointer;
  background-color: #fff;
  z-index: 1;
  position: relative;
}
collapsible-outer {
  overflow: hidden;
  height: auto;
  position: relative;
  width:100%;
  transition: height 0.3s ease;
}
collapsible-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 0;
}
