:root {
  --layout-gap: 15px;
  --page-width: 1200px;
}

* {
  box-sizing: border-box;
  word-break: break-word;
}

html {
  /* font-size: calc(var(--font-body-scale) * 62.5%); */
}

body {
  margin: 0;
}

p {
  margin: 0;
}
.shopify-section {
  display: flex;
  justify-content: center;
  margin-block: 0;
  max-width: 100%;
  width: 100%;
}

.section-content-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: var(--page-width);
  margin-inline: auto;
  gap: var(--layout-gap);
}

.full-width {
  width: 100%;
}

/* Link block & links */
.link,
a {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(var(--color-foreground));
  text-decoration: none;
}

.is-relative{
  position: relative;
}
.is-absolute{
  position: absolute;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-scroll{
  overflow: scroll;
}
.page-width{
  --page-width: 1200px;
  --site-gutter: 40px;
  width: 100%;
  max-width: var(--page-width);
  margin-inline: auto;
  padding-inline: var(--site-gutter);
  @media (max-width: 750px){
    --site-gutter: 20px;
  }
}
.flex{
  --gap: 0px;
  display: flex;
  gap: var(--gap);
  &.gap{
    --gap: 20px;
    @media (max-width: 750px){
      --gap: 10px;
    }
  }
  &.col{
    flex-direction: column;
    &.left{
      justify-content: flex-start;
    }
    &.center{
      justify-content: center;
    }
    &.right{
      justify-content: flex-end;
    }
    &.top{
      align-items: flex-start;
    }
    &.middle{
      align-items: center;
    }
    &.bottom{
      align-items: flex-end;
    }
    &.baseline{
      justify-content: baseline;
    }
    &.stretch{
      justify-content: stretch;
    }
    &.space-between{
      align-items: space-between;
    }
  }
  &.row{
    flex-direction: row;
    &.top{
      justify-content: flex-start;
    }
    &.middle{
      justify-content: center;
    }
    &.bottom{
      justify-content: flex-end;
    }
    &.left{
      align-items: flex-start;
    }
    &.center{
      align-items: center;
    }
    &.right{
      align-items: flex-end;
    }
    &.baseline{
      align-items: baseline;
    }
    &.stretch{
      align-items: stretch;
    }
    &.space-between{
      justify-content: space-between;
    }
  }
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
}