import "{{ 'embla-carousel.umd.js' | asset_url }}"
import "{{ 'embla-carousel-autoplay.umd.js' | asset_url }}"


class EmblaSlider extends HTMLElement {
  static plugins = [EmblaCarouselAutoplay()]
  constructor() {
    super();
  }
  connectedCallback() {
    this.shadow = this.attachShadow({ mode: "open" });
    console.log("childNodes",this.children)
    this.shadow.innerHTML = `
      <div part="embla">
        <div part="embla__container">
          ${Array.from(this.children).map(slide => `<div part="embla__slide">${slide.innerHTML}</div>`).join('')}
        </div>
      </div>
    `
    const options = { loop: false }
    const emblaNode = this.shadow.querySelector('[part="embla"]')
    const emblaApi = EmblaCarousel(emblaNode, options, EmblaSlider.plugins)
    console.log("slideNodes", emblaApi.slideNodes()) // Access API

  }
  static get observedAttributes() {
    return [];
  }
  attributeChangedCallback(property, oldValue, newValue) {
    if (oldValue === newValue) return;

    this[ property ] = newValue;
  }
}
customElements.define('embla-slider', EmblaSlider);