embla-slider::part(embla) {
  overflow: hidden;
}
embla-slider::part(embla__container) {
  display: flex;
  align-items: flex-start;
  transition: height 0.2s;
}
embla-slider::part(embla__slide) {
  flex: 0 0 100%;
  min-width: 0;
  text-align:center;
  background-color: lightgray;
}
