@keyframes shine {
  100% {
    left: -200%;
  }
}

.btn{
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 150%;
    width: 200%;
    height: 100%;
    transform: skewX(-20deg);
    background-image: linear-gradient(to right,transparent, rgba(255,255,255,.25),transparent);
  }
  &:hover:after {
    animation: shine 1s cubic-bezier(0.01, 0.56, 1, 1);
  }
}

.shopify-block-overlay{
  & .shopify-block-container{
    background: radial-gradient(rgba(0,0,0,0.2) 0%,transparent 60%);
  }
}
