/* keyframes */
@keyframes shine {
  100% {
    left: -200%;
  }
}

@keyframes fade-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* buttons */
.btn{
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 150%;
    width: 200%;
    height: 100%;
    transform: skewX(-20deg);
    background-image: linear-gradient(to right,transparent, rgba(255,255,255,.25),transparent);
  }
  &:hover:after {
    animation: shine 1s cubic-bezier(0.01, 0.56, 1, 1);
  }
}
/* Text background gradient */
.shopify-block-overlay{
  & .shopify-block-container{
    background: radial-gradient(rgba(0,0,0,0.2) 0%,transparent 75%);
    /* Todo: Use background gradient in section? */
  }
}

/* text */

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .large, p, .p, small, .small{
  animation: 1s ease 0s 1 fade-up;
}