/* keyframes */
@keyframes shine {
  100% {
    left: -200%;
  }
}
@keyframes line {
  0%{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(229,229,229,1) 0%, rgba(229,229,229,1) 100%);
  }
  100% {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(229,229,229,1) 100%, rgba(229,229,229,1) 100%);
  }
}

@keyframes fade-up {
  from {
    translate: 0 100%;
    opacity: 0;
  }
  to {
    translate: 0 0%;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    scale: 0.7;
  }
  to {
    scale: 1;
  }
}

/* buttons */
.btn {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 150%;
    width: 200%;
    height: 100%;
    transform: skewX(-20deg);
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.25), transparent);
  }
  &.btn--primary[disabled]{
    background-color: #f6f6f6;
    border-color: #f6f6f6;
    color: #b6b6b6;
  }
  &.btn--secondary[disabled]{
    background-color: #f6f6f6;
    border-color: #b6b6b6;
    color: #b6b6b6;
  }
  &.btn--tertiary[disabled]{
    border-color: #f6f6f6;
    color: #b6b6b6;
  }
  &.btn--primary:not([disabled]):hover:after {
    animation: shine 1s cubic-bezier(0.01, 0.56, 1, 1);
  }
  &.btn--tertiary:not([disabled])[pressed],
  &.btn--tertiary:not([disabled]):hover{
    border-color: var(--color);
  }
  &[loading]{
    color: var(--background-color);
  }
}

.link{
  position: relative;
  &[disabled]{
    color: #b6b6b6;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    /* border-bottom: 1px solid var(--color-foreground); */
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(229,229,229,1) 0%, rgba(229,229,229,1) 100%);;
  }
  &:not([disabled])[pressed]:after,
  &:not([disabled]):hover:after {
    animation: line 0.3s cubic-bezier(0.65, 0, 0.35, 1) both;
  }
}

/* text */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.large,
p,
.p,
small,
.small,
.btn {
  animation: fade-up ease;
  animation-timeline: view(90svh 0px);
}

.image-wrapper > img,
.image-wrapper > svg {
  animation: fade-in ease;
  animation-timeline: view(90svh 0px);
  & > img,
  & > svg {
    animation: scale-in ease;
    animation-timeline: view(90svh 0px);
  }
}
