theme-alert:not([open]),
pop-up:not([open]) {
  display: none;
}
theme-alert[open],
pop-up[open] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: #0008;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
pop-up[open] {
  justify-content: center;
}
theme-alert[open] {
  justify-content: flex-start;
}
theme-alert > *,
pop-up > * {
  display: block;
  background-color: #fff;
  max-width: 80%;
  max-height: 90dvh;
}
pop-up-button {
  display: block;
  cursor: pointer;
}
